/* css imports */
@import url(homepage.css);
@import url(blog-list.css);
@import url(blog-details.css);

/* Global Styles */

body{
    margin: 0px;
    background: #404040;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.4;
    font-size: 1em;
    text-align: center;
}

img{
    display: block;
    width: 100%;
    height: auto;
}

h1, h2, h3, p{
    margin: 0;
    padding: 1em 0;
}

.btn{
    border-radius: 6px;
    display: inline-block;
    color: white;
    background: #595d3d;
    text-decoration: none;
    margin: 0.5em 0;
    border: 1px solid;
    padding: 1em 2em;
    min-width: 100px;
}

.btn:hover{
    color: #595d3d;
    background: #d7d2c1;
}
